/* black to white */
$black: #323232;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$white: #ffffff;

/* blues */
$instock-blue: #004892;
$instock-blue-dark: #002f5f;
$buttonblue: #0095ff;
$Brainﬂix-blue-dark: #0065ad;
