@font-face {
  font-family: "avenir-regular";
  src: url("../Assets/Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir-bold";
  src: url("../Assets/Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "avenir-demibold";
  font-weight: bold;
  src: url("../Assets/Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf");
}
